body {
    font-family: Verdana, sans-serif, monospace;
    font-size: 18px;
}

.App-header {
    background-color: #8ca0ff;
}

.game-board {
    position: fixed;
    top: 100;
    left: 0;
    display: grid;
    grid-template-columns: repeat(7, 96px);
    grid-template-rows: repeat(7, 96px);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    width: 672px;
    height: 672px;
}

.tile-grid {
    display: grid;
    grid-template-columns: repeat(3, 32px);
    grid-template-rows: repeat(3, 32px);
}

.tile-grid.empty:hover {
    border: solid 1px white;
    background: rgba(255, 0, 0, 0.4);
}

.tile-grid .remainingPathCard {
    justify-self: center;
}
